@import "font-awesome/css/all.min.css";

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(1.jpg);/*add (no-repeat)*/
    background-size: cover;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid black;
    margin-bottom: 50px;
    padding: 13px 0px ;
}
 
.textbox{
    width: 100%;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid black;
    overflow: hidden;
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    margin: 0 10px;
    float: left;
}

.textbox button{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    margin: 0 10px;
    float: left;
}
button{
    border: none;
    padding: 5px;
    background: none;
    border: 3px solid black;
    font-size: 18px;
    color: white;
    width: 100%;
    cursor: pointer;
    margin: 10px 0;
}
.error{
    width: 80%;
    margin: 10px 0;
    color:white;
    text-align: left;

}
.search{
   margin: 5px 0;
}